@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-primary:#000;
  --bgPrimary:#fff;
  --bgSecondary: #F9F9F9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

header {
  color:azure;
  font-size: large;
  background-color: #000;
  padding: 10px;
}

.dand{
  display: flex;
  
  background-color: #7579ff;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  flex: 50%;
  padding: 5px;
  min-width: 320px;
  margin: 4px;

}

.dnd-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 300px;
  border: 4px dashed black;
  border-radius: 15px;
  background: #7579ff;

}

.dnd-container p{
  margin-top: 10px;

}

.svg-inline--fa {
  font-size: 100px;
  color: #fff;
  padding-bottom: 5px;
  animation: animate 5s infinite;
  animation-timing-function: linear;

}

@keyframes animate{
  0% {
    margin-top: 20px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }
}

header{
  display: block;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  color: #fff;

}

h6{
  margin: 6px;
  display: flex;
  justify-content: center;
  font-size: large;
  text-align: center;
  display: flex;
 
}

span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;

}

.savePublish{
  display: flex;
  flex: 50%;
  border: 4px dashed gray;
  background-color: ghostwhite;
  border-radius: 15px ;
  text-align: center;
  margin: 4px;

}

.main-container{
  display: flex;
  flex-flow: row wrap;

}

.publish{
  display: flex;
  flex: 100%;
  min-height: 320px;
  min-width: 420px;
  margin: 15px;
  font-size: large;
  justify-content: center;
  display: flex;
  align-items: flex-start;

}

.float-right {
  margin: 2px;
  flex: 2;
  height: auto;
  display: -webkit-flex;
  min-width: 320px;
  color: #7579ff;

}

.float-left {
  margin: 4px;
  display: flex;
  width: 50%;
  flex-direction: row;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 2;

}

.inserver {
  margin: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.lower-portion{
  display: flex;
  margin: 4px;
  flex-flow: row wrap;
  flex-direction: row;
}

.inserver .card{
  margin: 4px;
  display: flex;

}

.button{
  align-items: center;

}


.btn ::-ms-backdrop {
  margin: 15px;
  border-radius: 4px;
  border: 2px solid dodgerblue;
  padding: 2px;

}

.btn:hover {
  border: black;
  padding: 2px;

}

.circular_menu{
  justify-content: center;
  display: flex;
  flex: 2;
  border: 4px dotted gray ;
  border-radius: 15px;
  margin-right: 4px;
  min-width: 600px;
  background-color: azure;
  flex-direction: column;
  align-items: center;
}

.h-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
 
}

.iZWQdS {
  z-index: 101;
  position: relative;

}

.eDKpst{
  margin: 60px;

}

.gwqQIP{
  margin: 60px;

}

.QRCode{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 4px dashed gray;
  border-radius: 15px;
  margin: 4px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  flex: 2 1;
}

.py-4{
  margin: 10px;

}

canvas#qrCodeEl{
  display: flex;
  justify-content: center;
  
}




/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

.main-container{
  width: 100%;

}

  .lower-portion{
    justify-content: center;
    width: 100%;
    float: left;
    display: flex;

  }

  .savePublish{
    width: 100%;
    justify-content: center;
    margin: 10px;

  }

  .circular_menu{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;

  }

  .eDKpst {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .dand{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;

  }

  .dnd-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .publish{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .buttons{
    display: block;
    justify-content: center;

  }
  
  .QRCodeAdmin{
    display: flex;
    justify-content: center;
    
  }
}





