.alertBar {
    margin: 16px;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
   
    padding: 10px 20px;
    border-radius: 5px;
}

.alertText {
    color: white;
}

.alertHeader {
    width: 15%;
    text-align: center;
}

.alertInfoText {
    text-align: center;
    width: 85%;
}

.weatherAndTimeContainer {
    margin: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightblue;
    
    
}



.newArticle{
    margin: 16px;
    padding: 10px;
    border-radius: 5px;
   
}

.articleTitle{
    color: dodgerblue;
}

