.alertBar {
    margin: 16px;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
   
    padding: 10px 20px;
    border-radius: 5px;
}

.alertText {
    color: white;
}

.alertHeader {
    width: 15%;
    text-align: center;
}

.alertInfoText {
    text-align: center;
    width: 85%;
}

.weatherAndTimeContainer {
    margin: 16px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background-color: lightblue;
    animation: mymove 15s infinite;
    animation-delay: 15s; 
     width: 380px;
     height: 380px;
}

@keyframes mymove {
    from {background-color: dodgerblue;}
    to {background-color:black; color: whitesmoke;}
    from {left: 0px;}
    to {left: 100%;}
       
  }
  

.newArticle{
    margin: 16px;
    padding: 10px;
    border-radius: 5px;
   
}

.articleTitle{
    color: dodgerblue;
}

