.alertBar {
    margin: 16px;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
   
    padding: 10px 20px;
    border-radius: 5px;
}

.alertText {
    color: white;
}

.alertHeader {
    width: 15%;
    text-align: center;
}

.alertInfoText {
    text-align: center;
    width: 85%;
}

.weatherAndTimeContainer {
    margin: 16px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    animation: mymove 20s infinite;
    animation-delay: none; 
    width: 380px;
    height: 340px;
}

@keyframes mymove {
    from {color: black;}
    to { color: white; }
    from {left: 0px;}
    to {left: 100%;}
       
  }
  

.newArticle{
    margin: 16px;
    padding: 10px;
    border-radius: 5px;
   
}

.articleTitle{
    color: dodgerblue;
}

